@media screen and (max-width: 1348px){
    .main{
        height: 978px;
        
        &-container {
        height: 978px;
        position: absolute;
    
        &-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        &-shadow {
            width: 758px;
            height: 758px;
            position: absolute;
            top: -61px;
            left: 214px;
            z-index: 94;
        }
        &-glow {
            width: 680px;
            height: 588.91px;
            position: absolute;
            top: 138.07px;
            left: 269.1px;
            @include flex-box;
            z-index: 95;
        }
        &-triangel {
            width: 680px;
            height: 588.91px;
            position: absolute;
            top: 138.07px;
            left: 269.1px;
            @include flex-box;
            z-index: 96;
        }
        &-model {
            width: 520px;
            height: 957.5px;
            position: absolute;
            top: -70px;
            left: 296px;
            @include flex-box;
            z-index: 97;
        }
        &-title {
            width: 283px;
            height: 417px;
            margin: 40px 0 0 168px;
            @include flex-box;
            z-index: 98;
        }
    }
    }
    
}

@media screen and (max-width: 1260px){
    .main{
        height: 978px;
        
        &-container {
        height: 978px;
        position: absolute;
    
        &-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        &-shadow {
            width: 758px;
            height: 758px;
            position: absolute;
            top: -61px;
            left: 110px;
            z-index: 94;
        }
        &-glow {
            width: 680px;
            height: 588.91px;
            position: absolute;
            top: 138.07px;
            left: 165.1px;
            @include flex-box;
            z-index: 95;
        }
        &-triangel {
            width: 680px;
            height: 588.91px;
            position: absolute;
            top: 138.07px;
            left: 165.1px;
            @include flex-box;
            z-index: 96;
        }
        &-model {
            width: 520px;
            height: 957.5px;
            position: absolute;
            top: -70px;
            left: 192px;
            @include flex-box;
            z-index: 97;
        }
        &-title {
            width: 283px;
            height: 417px;
            margin: 40px 0 0 64px;
            @include flex-box;
            z-index: 98;
        }
    }
    }
    #player {
        width: 283px;
        height: 183px;
        margin: 48px 0 0 64px;
        z-index: 100;
    }
}

@media screen and (max-width: 1024px){
    .header {
        height: 96px;
        margin: 32px 0 0;
        display: flex;
        justify-content: space-between;
        z-index: 100;
    
        &-logotype {
            width: 327px;
            height: 96px;
            margin: 0 0 0 24px;
            display: flex;
        }
    
        &-logo {
            min-width: 96px;
            height: 96px;
            margin: 0 8px 0 0;
            position: relative;
    
            &-img1 {
                width: 96px;
                height: 96px;
                position: absolute;
            }
            &-img2 {
                width: 82px;
                height: 88px;
                position: absolute;
                top: 4px;
                left: 7px;
            }
        }
        &-name {
            min-width: 223px;
            height: 80px;
            font-size: 64px;
            color: $primaryColor;
        }
    
        &-info {
            width: 518px;
            height: 71px;
            margin: 14px 0 0;
            display: flex;
            margin: 14px 58px 0 0;
            z-index: 100;
        
        &-home {
            width: 74px;
            height: 47px;
            margin: 12px 0px 12px 12px ;
    
            &-text {
                width: 50px;
                height: 23px;
                margin: 12px;
    
                &-a {
                    color: rgba(238, 202, 252, 1);
                    font-size: $fontSize;
                    font-family: $primaryFont;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
    
        &-collections {
            width: 185px;
            height: 47px;
            margin: 12px 0px 12px 0;
            border-radius: 8px;
    
            &-text {
                width: 161px;
                height: 23px;
                margin: 12px;
                
                &-a {
                    color: $primaryColor;
                    font-size: $fontSize;
                    font-family: $primaryFont;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
    
        &-store {
            width: 111px;
            height: 47px;
            margin: 12px 0px 12px 0;
            display: flex;
            text-align: center;
            border-radius: 8px;
            position: relative;
    
            &-title {
                width: 55px;
                height: 23px;
                margin: 12px 8px;
                color: $primaryColor;
                font-size: $fontSize;
                font-family: $primaryFont;
            }
            &-icon {
                width: 24px;
                height: 23px;
                margin: 12px 0 0;
                color: $primaryColor;
                font-size: 28px;
                font-family: $primaryFont;
                position: absolute;
                top: -6px;
                left: 67px;
            }
            &-dropdown {
                width: 112px;
                height: 160px;
                border-radius: 8px;
                background-color: rgba(255, 255, 255, 1);
                box-shadow: 0 3px 12px rgba(0, 0, 0, 0.42);
                position: absolute;
                top: 47px;
                @include flex-box;
                display: none;
    
                &-people {
                    width: 59px;
                    height: 119px;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
    
                    &-person {
                        font-family: $primaryFont;
                        text-decoration: none;
                        font-size: $fontSize;
                        color: rgba(19, 22, 196, 1);
                    }
                }
            }
        }
    
        &-contacts {
            width: 112px;
            height: 47px;
            margin: 12px 0px 12px 0;
            border-radius: 8px;
    
            &-text {
                width: 88px;
                height: 23px;
                margin: 12px;
            
                &-a {
                    color: $primaryColor;
                    font-size: $fontSize;
                    font-family: $primaryFont;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
    }
    }

    .main{
        height: 978px;
        
        &-container {
        height: 978px;
        position: absolute;
    
        &-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        &-shadow {
            width: 758px;
            height: 758px;
            position: absolute;
            top: -61px;
            left: 110px;
            z-index: 94;
        }
        &-glow {
            width: 680px;
            height: 588.91px;
            position: absolute;
            top: 138.07px;
            left: 165.1px;
            @include flex-box;
            z-index: 95;
        }
        &-triangel {
            width: 680px;
            height: 588.91px;
            position: absolute;
            top: 138.07px;
            left: 165.1px;
            @include flex-box;
            z-index: 96;
        }
        &-model {
            width: 520px;
            height: 957.5px;
            position: absolute;
            top: -70px;
            left: 76px;
            @include flex-box;
            z-index: 97;
        }
        &-title {
            width: 283px;
            height: 417px;
            margin: 40px 0 0 24px;
            @include flex-box;
            z-index: 98;
        }
    }
    }
    #player {
        width: 283px;
        height: 183px;
        margin: 48px 0 0 24px;
        z-index: 100;
    }
}

@media screen and (max-width: 928px) {
    .header-info {
        margin: 14px 0 0 0;
    }
    .header-logotype {
        margin: 0;
    }
    .main-carusel {
        margin: 82px 58px 0 4px;
    }
    
    .main{
        height: 978px;
        
        &-container {
        height: 978px;
        position: absolute;
    
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        &-shadow {
            width: 358px;
            height: 558px;
            position: absolute;
            top: -91px;
            left: 350px;
            z-index: 94;
        }
        &-glow {
            width: 458px;
            height: 588.91px;
            position: absolute;
            top: -78px;
            left: 270px;
            @include flex-box;
            z-index: 95;
        }
        &-triangel {
            width: 458px;
            height: 588.91px;
            position: absolute;
            top: -78px;
            left: 270px;
            @include flex-box;
            z-index: 96;
        }
        &-model {
            width: 420px;
            height: 957.5px;
            position: absolute;
            top: -137px;
            left: 270px;
            @include flex-box;
            z-index: 97;
        }
        &-title {
            width: 283px;
            height: 417px;
            margin: 40px 0 0 4px;
            @include flex-box;
            z-index: 98;
        }
    }
    }
    #player {
        width: 283px;
        height: 183px;
        margin: 48px 0 0 4px;
        z-index: 100;
    }

    .img1 {
        width: 358px;
        height: 558px;
    }
    .img2 {
        width: 498px;
        height: 588.91px;
    }
    .img3 {
        width: 430px;
        height: 588.91px;
    }
    .img4 {
        width: 420px;
    }
}

@media screen and (max-width: 794px){
    .header {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .header-info {
        width: 794px;
        height: 284px;
        display: none;
        flex-direction: column;
        background-color: white;
        border-radius: 8px;
        margin: 0;
    }
    .header-info-home-text-a {
        color: #1316c4;
    }
    .header-info-collections-text-a {
        color: #1316c4;
    }
    .header-info-store-title {
        color: #1316c4;
    }
    .header-info-store-icon {
        color: #1316c4;
    }
    .header-info-contacts-text-a {
        color: #1316c4;
    }
    .burger {
        display: flex;
        z-index: 100;
    }
    .header-info-home {
        margin: 12px 0 12px 0;
    }
    .main{
        height: 978px;
        
        &-container {
        height: 978px;
        position: absolute;
    
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        &-shadow {
            width: 358px;
            height: 558px;
            position: absolute;
            top: -91px;
            left: 250px;
            z-index: 94;
        }
        &-glow {
            width: 358px;
            height: 588.91px;
            position: absolute;
            top: -78px;
            left: 235px;
            @include flex-box;
            z-index: 95;
        }
        &-triangel {
            width: 358px;
            height: 588.91px;
            position: absolute;
            top: -78px;
            left: 235px;
            @include flex-box;
            z-index: 96;
        }
        &-model {
            width: 320px;
            height: 957.5px;
            position: absolute;
            top: -220px;
            left: 250px;
            @include flex-box;
            z-index: 97;
        }
        &-title {
            width: 283px;
            height: 417px;
            margin: 40px 0 0 24px;
            @include flex-box;
            z-index: 98;
        }
    }
    }
    #player {
        width: 283px;
        height: 183px;
        margin: 48px 0 0 24px;
        z-index: 100;
    }

    .img1 {
        width: 358px;
        height: 558px;
    }
    .img2 {
        width: 416px;
        height: 556.91px;
    }
    .img3 {
        width: 358px;
        height: 588.91px;
    }
    .img4 {
        width: 320px;
    }
}

@media screen and (max-width: 624px) {
    .header-logotype {
        width: 310px;
    }
    .main{
        height: 978px;
        
        &-container {
        height: 978px;
        position: absolute;
    
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        &-shadow {
            width: 358px;
            height: 558px;
            position: absolute;
            top: -91px;
            left: 100px;
            z-index: 94;
        }
        &-glow {
            width: 358px;
            height: 588.91px;
            position: absolute;
            top: -78px;
            left: 100px;
            @include flex-box;
            z-index: 95;
        }
        &-triangel {
            width: 358px;
            height: 588.91px;
            position: absolute;
            top: -78px;
            left: 100px;
            @include flex-box;
            z-index: 96;
        }
        &-model {
            width: 320px;
            height: 957.5px;
            position: absolute;
            top: -220px;
            left: 100px;
            @include flex-box;
            z-index: 97;
        }
        &-title {
            width: 283px;
            height: 417px;
            margin: 40px 0 0 24px;
            @include flex-box;
            z-index: 98;
        }
    }
    }
}

@media screen and (max-width: 488px) {
    .main{
        height: 978px;
        
        &-container {
        height: 978px;
        position: absolute;
    
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        &-shadow {
            width: 358px;
            height: 558px;
            position: absolute;
            top: 191px;
            left: 0px;
            z-index: 94;
        }
        &-glow {
            width: 358px;
            height: 588.91px;
            position: absolute;
            top: 178px;
            left: 0px;
            @include flex-box;
            z-index: 95;
        }
        &-triangel {
            width: 358px;
            height: 588.91px;
            position: absolute;
            top: 178px;
            left: 0px;
            @include flex-box;
            z-index: 96;
        }
        &-model {
            width: 320px;
            height: 957.5px;
            position: absolute;
            top: -226px;
            left: 0px;
            @include flex-box;
            z-index: 97;
        }
        &-title {
            width: 283px;
            height: 417px;
            margin: 40px 0 0 24px;
            @include flex-box;
            z-index: 98;
        }
    }
    }
}

@media screen and (max-width: 375px){
    .main-carusel {
        width: 375px;
        margin: 82px 0 0 0;
    }

    .main{
        height: 978px;
        
        &-container {
        height: 978px;
        position: absolute;
    
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        &-shadow {
            width: 358px;
            height: 558px;
            position: absolute;
            top: 191px;
            left: 0px;
            z-index: 94;
        }
        &-glow {
            width: 358px;
            height: 588.91px;
            position: absolute;
            top: 178px;
            left: 0px;
            @include flex-box;
            z-index: 95;
        }
        &-triangel {
            width: 358px;
            height: 588.91px;
            position: absolute;
            top: 178px;
            left: 0px;
            @include flex-box;
            z-index: 96;
        }
        &-model {
            width: 320px;
            height: 957.5px;
            position: absolute;
            top: -226px;
            left: 0px;
            @include flex-box;
            z-index: 97;
        }
        &-title {
            width: 283px;
            height: 417px;
            margin: 40px 0 0 24px;
            @include flex-box;
            z-index: 98;
        }
    }
    }
}